body{
    background-color: #8FBC8F;
    font-family: Arial, Helvetica, sans-serif;
}
/*#DCDCDC  #708090*/
section{
    position: relative;
    top: 50px;
    background: #FFF;
    border: 1px solid #999;
    box-shadow: 1px 1px 3px 1px #A9A9A9;
}

.container{
    margin: 0 auto;
    width: 80%;
}

table{
    margin: 0 auto;
    text-align: center;
    font-size: 15px;
}
th{
    background: #4682B4;
    font-weight: bold;
    padding: 0.3em 1em;
     
}
td{
    padding: 0.3em;    
}
th, td{
    width: 150px;
}
tr:nth-child(2n){
    background: #D3D3D3;
}
tbody tr:not(.cabecalho):hover{
    transition: 0.3s;
    box-shadow: 1px 1px 3px 1px #C0C0C0;    
}

caption{
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 45px;
    font-family: "Arial", sans-serif;
    padding: 10px;
    text-decoration: underline;
}

/* form e botão */

form{
    text-align: center;
}

input[type=submit], [type=reset]{
    margin-top: 20px;
    display: inline-block;
    margin-right: 30px;
    width: 100px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #079400;
	padding: 10px 20px;
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#ffffff),
		color-stop(0.50, #ffffff),
		to(#b5b5b5));
	border-radius: 10px;
	border: 3px solid #4169E1;
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(255,255,255,1);
	text-shadow:
		0px -1px 3px rgba(000,000,000,0.2),
		0px 1px 0px rgba(255,255,255,1);

}
input[type=submit]:hover, [type=reset]:hover{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #FFF;
	padding: 10px 20px;
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#0000CD),
		color-stop(0.50, #1E90FF),
		to(#0000CD));
	border-radius: 10px;
	border: 3px solid #0000FF;
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(255,255,255,1);
	text-shadow:
		0px -1px 3px rgba(000,000,000,0.2),
		0px 1px 0px rgba(255,255,255,1);

}
input{
    margin-bottom: 20px;
}

footer{
    margin-top: 55px;
    text-align: center;
}


